---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: external-secrets-operator
spec:
  releaseName: external-secrets-operator
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: external-secrets
      version: 0.9.11
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  values:
    installCRDs: false # managed in ../ks.yaml
    requests:
      cpu: 10m
      memory: 32Mi
