---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${GATUS_NAME:-${APP}}-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "${GATUS_NAME:-${APP}}"
        group: external
        url: "https://${APP_SUBDOMAIN:-${APP}}.${DOMAIN}${GATUS_PATH:-/}"
        interval: 1m
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == ${GATUS_STATUS:-200}" # Ensure that the service is not down for external users
