# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: app-minecraft
  namespace: flux-system
spec:
  targetNamespace: games
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app minecraft
      app.kubernetes.io/instance: survival
  interval: 10m
  path: ./kubernetes/apps/games/minecraft/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
  wait: true
  postBuild:
    substitute:
      APP: *app
      GATUS_NAME: minecraft-map
      APP_SUBDOMAIN: map
      APP_UID: "1000"
      APP_GID: "2000"
      VOLSYNC_CLAIM: minecraft-server
      VOLSYNC_CAPACITY: "12Gi"
      VOLSYNC_SCHEDULE: "0 */3 * * *" # Every 3hrs
