# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cyberchef
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      cyberchef:
        strategy: Recreate
        pod:
          labels:
            ingress.home.arpa/nginx-internal: allow
        containers:
          app:
            image:
              repository: mpepping/cyberchef
              tag: v10.19.4
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 32M
              limits:
                memory: 64M
    service:
      app:
        controller: cyberchef
        ports:
          http:
            port: 8000
    ingress:
      app:
        className: nginx-internal
        hosts:
          - host: &host ${APP_SUBDOMAIN}.${DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
        annotations:
          gethomepage.dev/name: *app
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: selfhosted
          gethomepage.dev/icon: cyberchef.png
          nginx.org/client-max-body-size: '1024m'
