# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tof-tl
spec:
  interval: 30m
  maxHistory: 3
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: -1
  uninstall:
    keepHistory: false
  driftDetection:
    mode: warn
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      tof-tl:
        replicas: 1
        defaultContainerOptionsStrategy: merge
        defaultContainerOptions:
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          linker:
            image:
              repository: alpine
              tag: 3.23@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62
            # https://github.com/kubernetes/git-sync/issues/908
            command:
              - sh
              - -c
              - ln -s /tmp/git/head/data /usr/share/nginx/html/public
            resources:
              requests:
                cpu: 5m
                memory: 64Mi
              limits:
                memory: 128Mi
        containers:
          app:
            image:
              repository: ghcr.io/stevewm/vsmap
              tag: latest
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
          git-sync:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1
            args:
              - --repo=https://github.com/stevewm/tof-tl
              - --root=/tmp/git
              - --link=head

    service:
      app:
        controller: *app
        ports:
          web:
            port: &port 8080

    route:
      app:
        hostnames: ["tl.stevewm.dev"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      tmp:
        type: emptyDir
      html:
        type: emptyDir
        globalMounts:
          - path: /usr/share/nginx/html
      sync:
        type: emptyDir
        globalMounts:
          - path: /tmp/git
