# Kubernetes
export KUBECONFIG=$(expand_path kubeconfig)
export TALOSCONFIG=$(expand_path kubernetes/main/talos/clusterconfig/talosconfig)

# Python
export VIRTUAL_ENV=$(expand_path scripts/.venv)
layout python3
