export KUBECONFIG=$(expand_path ./kubeconfig)
export ANSIBLE_CONFIG=$(expand_path ./ansible/ansible.cfg)
export DOMAIN=$(doppler secrets -p homelab get DOMAIN_NAME --plain)
export RADARR_API_KEY=$(doppler secrets -p homelab get RADARR --plain | jq '.api_key' -r)
export SONARR_API_KEY=$(doppler secrets -p homelab get SONARR --plain | jq '.api_key' -r)
