env.txt

# General
kubeconfig
Brewfile.lock.json
*.log
.github/mkdocs/site

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Terraform
**/.terraform/*
*.tfstate*
*.tfvars*
override.tf*
*_override.tf*
 *tfplan*
.terraformrc
terraform.rc

# secrets
doppler.json
talsecret.yaml
.env
.secrets

# python
.venv/
uv.lock
.python-version
.ruff-cache
