[settings]
pipx_uvx = true
experimental = true # for uv_venv_auto
python.uv_venv_auto = true

[env]
KUBECONFIG = "{{ config_root }}/kubernetes/kubeconfig"
TALOSCONFIG = "{{ config_root }}/kubernetes/talos/clusterconfig/talosconfig"
MINIJINJA_CONFIG_FILE="{{ config_root }}/.github/.minijinja.toml"
HOMEBREW_BREWFILE="{{ config_root }}/.github/Brewfile"
_.path = ['{{config_root}}/node_modules/.bin']

[hooks]
postinstall = "helm plugin install https://github.com/databus23/helm-diff || true"

[tools]
# https://docs.renovatebot.com/modules/manager/mise/#supported-default-registry-tool-short-names
uv = "0.10.2"
python = "3"
node = "24.13.1"

# Flux
"aqua:flux2" = "2.7.5"
"pipx:flux-local" = "7.5.6"

# Kube
"aqua:CrunchyData/postgres-operator-client" = "0.5.3"
"aqua:kustomize" = "5.8.1"
"aqua:helm" = "4.1.1"
"aqua:helmfile" = "1.2.3"
"aqua:derailed/k9s" = "0.50.18"
"aqua:stern/stern" = "1.33.1"

# Talos
"aqua:siderolabs/talos" = "1.12.3"
"aqua:talhelper" = "3.1.4"

# Tools
"aqua:go-task/task" = "3.48.0"
"aqua:yq" = "4.52.2"
"aqua:jq" = "1.8.1"
"github:DopplerHQ/cli" = "3.75.1"
"cargo:minijinja-cli" = "2.7.0"
"ubi:gorcon/rcon-cli" = { version = "0.10.3", exe = "rcon" }
"github:slsa-framework/slsa-verifier" = "2.7.1"
"aqua:Orange-OpenSource/hurl" = "7.1.0"

# hk
"aqua:hk" = "1.36.0"
"aqua:pkl" = "0.30.2"
"aqua:ruff" = "0.15.0"
"aqua:yamlfmt" = "0.21.0"
"npm:markdownlint-cli2" = "0.20.0"
"npm:dclint" = "3.1.0"
"npm:renovate" = "43.8.1"
"pipx:yamllint" = "1.38.0"
"aqua:actionlint" = "1.7.10"
"npm:prettier" = "3.8.1"
"aqua:shellcheck" = "0.11.0"
"ubi:controlplaneio-fluxcd/flux-operator" = "latest"
rust = "1.93.0"
kubecolor = "latest"
kubens = "0.9.5"
