---
exclude: |
  (?x)^((.*/config/.*)|(.*/assets/.*))$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-added-large-files
        args: [--maxkb=1024]

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs

  - repo: https://github.com/sirosen/fix-smartquotes
    rev: 0.2.0
    hooks:
      - id: fix-smartquotes

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.github/linters/yamllint.yaml]

  - repo: https://github.com/gabe565/pre-commit-gitops
    rev: v0.5.1
    hooks:
      - id: check-charts-pinned
      - id: check-charts-support-renovate

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 38.59.0
    hooks:
      - id: renovate-config-validator
