# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  maxHistory: 3
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      home-assistant:
        defaultContainerOptions:
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          # annotations:
          #   k8s.v1.cni.cncf.io/networks: |
          #     [{
          #       "name":"multus-iot",
          #       "namespace": "network",
          #       "ips": ["10.1.3.151/24"],
          #       "mac": "3e:59:e4:f7:43:08"
          #     }]
          securityContext:
            runAsUser: 65534
            runAsGroup: 65533
            fsGroup: 65533
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.6.1
            env:
              VENV_FOLDER: /venv
              HASS_HTTP_TRUSTED_PROXY: 10.244.0.0/24
            resources:
              requests:
                cpu: 47m
                memory: 2Gi
              limits:
                memory: 2Gi

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.100.3@sha256:c5b7ec231b24f26ecee243e8d9f9df57af906d03c9c8238efd893217c9f1f725
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: http://localhost:8123
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: 8123
            primary: true
          code-server:
            port: 12321
      code:
        controller: home-assistant
        ports:
          http:
            port: 12321

    ingress:
      main:
        className: nginx-internal
        hosts:
          - host: hass.stevewm.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
      code:
        className: nginx-internal
        hosts:
          - host: hass-vsc.stevewm.dev
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: code
                  port: http

    persistence:
      config:
        existingClaim: home-assistant-config
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config
      hass-cache:
        existingClaim: hass-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /venv
                subPath: hass-venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
