# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-authelia
  namespace: &namespace security
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: authelia
  interval: 30m
  timeout: 5m
  path: ./cluster/kubernetes/core/security/authelia/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
    namespace: flux-system
  wait: true
  dependsOn:
    - name: core-glauth
    - name: core-smtp-relay
      namespace: network
  components:
    - ../../../../componentspostgres
    - ../../../../componentsdragonfly
  postBuild:
    substitute:
      APP: authelia
      POSTGRES_REPLICAS: "1"
  patches:
    - patch: |-
        apiVersion: postgres-operator.crunchydata.com/v1beta1
        kind: PostgresCluster
        metadata:
          name: ${APP}
        spec:
          patroni:
            dynamicConfiguration:
              postgresql:
                pg_hba:
                  - "hostnossl authelia all 10.244.0.0/16 md5"
                  - "hostssl all all all md5"
