---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: app-readarr
  namespace: flux-system
spec:
  targetNamespace: downloads
  interval: 10m
  path: ./kubernetes/apps/downloads/readarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
  wait: false
  dependsOn:
    - name: app-longhorn
    - name: app-secret-generator
    - name: app-sabnzbd
