# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: actions-runner-controller
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: actions-runner-controller
  data:
    - secretKey: github_token
      remoteRef:
        key: GITHUB_HOMELAB_TOKEN
