# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vpa
spec:
  releaseName: *app
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: vpa
      version: 4.7.2
      sourceRef:
        kind: HelmRepository
        name: fairwinds-stable
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    recommender:
      extraArgs:
        v: "4"
        pod-recommendation-min-cpu-millicores: 5
        pod-recommendation-min-memory-mb: 5

    updater:
      enabled: false

    admissionController:
      enabled: false
