# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  interval: 30m
  maxHistory: 3
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: -1
  uninstall:
    keepHistory: false
  driftDetection:
    mode: warn
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      stirling-pdf:
        defaultContainerOptions:
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            capabilities:
              drop: [ALL]

        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/stirling-pdf
              tag: 2.5.3-fat@sha256:cc9b8f0fd49f663ad8cedc26884fddec2dbbb819a0e21d265efcf8d239fbb837
            env:
              DOCKER_ENABLE_SECURITY: "false"
              SYSTEM_SHOWUPDATE: "false"
              SYSTEM_ENABLEANALYTICS: "false"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 1Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080

    route:
      app:
        hostnames: ["pdf.stevewm.dev"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        annotations:
          gethomepage.dev/name: *app
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: selfhosted
          gethomepage.dev/icon: sh-stirling-pdf-light.png

    persistence:
      temporary:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /configs
            subPath: configs
          - path: /customFiles
            subPath: customFiles
          - path: /logs
            subPath: logs
          - path: /pipeline
            subPath: pipeline
          - path: /tmp
            subPath: tmp
          - path: /usr/share/tessdata
            subPath: tessdata
          - path: /home/stirlingpdfuser
            subPath: stirlingpdfuser
