# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-authelia
  namespace: &namespace security
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: authelia
  interval: 10m
  path: ./kubernetes/core/security/authelia/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: homelab
    namespace: flux-system
  wait: true
  dependsOn:
    - name: core-glauth
    - name: core-secretgenerator
    - name: core-smtp-relay
      namespace: network
