---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: metallb
spec:
  releaseName: metallb
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: metallb
      version: 0.13.12
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system
  values:
    controller:
      resources:
        requests:
          cpu: 5m
          memory: 32Mi
        limits:
          memory: 92Mi
    speaker:
      resources:
        requests:
          cpu: 10m
          memory: 75Mi
        limits:
          memory: 200Mi
