---
name: pihole

services:
  pihole:
    image: ghcr.io/pi-hole/pihole:2025.07.1@sha256:f84c1654bfbafc44e2ac8447a1fa2fb739eae66395b4c179d2c59cb93e1321f3
    container_name: pihole
    volumes:
      - /share/Docker/pihole-docker/etc-pihole/:/etc/pihole/
      - /share/Docker/pihole-docker/etc-dnsmasq.d/:/etc/dnsmasq.d/
    environment:
      TZ: &tz Europe/Amsterdam
      FTLCONF_dns_revServers: "true,10.0.0.0/24,10.0.0.1,home.arpa"
      FTLCONF_dns_upstreams: "8.8.8.8;8.8.4.4"
      FTLCONF_webserver_api_password: $WEBPASSWORD
      FTLCONF_webserver_port: &port "3001"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "3001:3001/tcp"
    network_mode: host
    restart: always
    dns:
      - 127.0.0.1
      - 1.1.1.1

  pihole-exporter:
    image: ekofr/pihole-exporter:v1.2.0@sha256:242c53ef3c24b88fcbe8184390b456d05604bd50de5732ca3fd3eb24395585b3
    container_name: pihole-exporter
    depends_on:
      - pihole
    environment:
      TZ: *tz
      PIHOLE_PROTOCOL: http
      PIHOLE_HOSTNAME: localhost
      PIHOLE_PORT: *port
      PIHOLE_API_TOKEN: $WEBPASSWORD
    ports:
      - "9617:9617/tcp"
    restart: always
