---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  releaseName: longhorn
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: longhorn
      version: 1.5.3
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values:
    defaultSettings:
      storageMinimalAvailablePercentage: 5  # 50GB~
    longhornUI:
      replicas: 1
    persistence:
      defaultClassReplicaCount: 2
    ingress:
      enabled: true
      ingressClassName: nginx
      host: longhorn.cloud.home
      annotations:
        gethomepage.dev/name: longhorn
        gethomepage.dev/description: storage
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: management
        gethomepage.dev/icon: longhorn.png
