---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  releaseName: longhorn
  targetNamespace: longhorn-system
  interval: 5m
  chart:
    spec:
      chart: longhorn
      version: 1.4.2
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values:
    persistence:
      defaultClassReplicaCount: 2
    ingress:
      enabled: true
      ingressClassName: traefik
      path: /longhorn
  dependsOn:
    - name: app-traefik
