cluster:
    id: {{ CLUSTER_ID }}
    secret: {{ CLUSTER_SECRET }}
secrets:
    bootstraptoken: {{ BOOTSTRAP_TOKEN }}
    secretboxencryptionsecret: {{ SECRETBOX_ENCRYPTION_SECRET }}
trustdinfo:
    token: {{ TRUSTDINFO_TOKEN }}
certs:
    etcd:
        crt: {{ ETCD_CERT }}
        key: {{ ETCD_KEY }}
    k8s:
        crt: {{ K8S_CERT }}
        key: {{ K8S_KEY }}
    k8saggregator:
        crt: {{ K8S_AGGREGATOR_CERT }}
        key: {{ K8S_AGGREGATOR_KEY }}
    k8sserviceaccount:
        key: {{ K8S_SERVICEACCOUNT_KEY }}
    os:
        crt: {{ OS_CERT }}
        key: {{ OS_KEY }}
