---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &name prowlarr
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/prowlarr-develop
              tag: 1.11.4.4173@sha256:dc649d62dcd09882b7111bd73d9bc664a28ddf073108345063f368da041d29b0
            env:
              PROWLARR__URL_BASE: &path /
              PROWLARR__PORT: &port 9696
              PROWLARR__API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: prowlarr
                    key: api_key
              PROWLARR_LOG_LEVEL: trace
            probes:
              readiness:
                enabled: true
                spec:
                  initialDelaySeconds: 60
              startup:
                enabled: true
                spec:
                  initialDelaySeconds: 60
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        className: nginx
        hosts:
          - host: &host plr.cfg.sh
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
        annotations:
          gethomepage.dev/name: *name
          gethomepage.dev/description: indexer mgmt
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: downloads
          gethomepage.dev/icon: prowlarr.png
          nginx.ingress.kubernetes.io/auth-url: |-
            http://ak-outpost-authentik-embedded-outpost.security.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
          nginx.ingress.kubernetes.io/auth-signin: |-
            https://prowlarr.cfg.sh/outpost.goauthentik.io/start?rd=$escaped_request_uri
          nginx.ingress.kubernetes.io/auth-response-headers: |-
            Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
          nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Host $http_host;
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter
            '</head>'
            '<link rel="stylesheet" type="text/css" href="https://themes.cfg.sh/css/base/prowlarr/plex.css">
            </head>';
            sub_filter_once on;
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
    resources:
      requests:
        cpu: 20m
        memory: 128M
      limits:
        memory: 256M
