# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: homepage-app-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: homepage-app-secrets
  data:
    - secretKey: HOMEPAGE_VAR_BAZARR_API_KEY
      remoteRef:
        key: BAZARR_API_KEY

    - secretKey: HOMEPAGE_VAR_PROWLARR_API_KEY
      remoteRef:
        key: PROWLARR_API_KEY

    - secretKey: HOMEPAGE_VAR_SONARR_API_KEY
      remoteRef:
        key: SONARR_API_KEY

    - secretKey: HOMEPAGE_VAR_RADARR_API_KEY
      remoteRef:
        key: RADARR_API_KEY

    - secretKey: HOMEPAGE_VAR_SABNZBD_API_KEY
      remoteRef:
        key: SABNZBD_API_KEY

    - secretKey: HOMEPAGE_VAR_JELLYSEERR_API_KEY
      remoteRef:
        key: JELLYSEERR_API_KEY

    - secretKey: HOMEPAGE_VAR_JELLYFIN_API_KEY
      remoteRef:
        key: HOMEPAGE_JELLYFIN_API_KEY

    - secretKey: HOMEPAGE_VAR_PIHOLE_API_KEY
      remoteRef:
        key: PIHOLE_API_KEY
