---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: homepage
spec:
  releaseName: homepage
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: homepage
      version: 1.2.3
      sourceRef:
        kind: HelmRepository
        name: jameswynn
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/gethomepage/homepage
      tag: v0.8.4
    enableRbac: true
    serviceAccount:
      create: true
    ingress:
      main:
        ingressClassName: nginx
        enabled: true
        hosts:
          - host: &host home.cfg.sh
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 200Mi
    config:
      kubernetes:
        mode: cluster
      bookmarks:
        - dev:
            - github:
                - abbr: gh
                  href: https://github.com/
            - hacker news:
                - abbr: hn
                  href: https://news.ycombinator.com/
        - social:
            - twitter:
                - abbr: twtr
                  href: https://twitter.com/
            - reddit:
                - abbr: rdt
                  href: https://reddit.com/
      services:
        - nas:
            - portal:
                description: management
                href: http://lilnas:8000
                icon: asustor.png
            - pi-hole:
                description: dns
                href: http://lilnas:3001/admin/
                icon: pi-hole.png
            - portainer:
                description: containers
                href: https://lilnas:19943
                icon: portainer.png
        - media:
            - jellyfin:
                description: streaming
                href: http://lilnas:8096
                icon: jellyfin.png
        - downloads:
            - sonarr:
                widget:
                  type: sonarr
                  url: http://sonarr.downloads.svc.cluster.local:8989
                  key: '{{HOMEPAGE_VAR_SONARR_API_KEY}}'

      widgets:
        - resources:
            backend: kubernetes
            expanded: true
            cpu: true
            memory: true
        - search:
            provider: duckduckgo
            target: _blank
        - kubernetes:
            cluster:
              show: true
              cpu: true
              memory: true
            nodes:
              show: false
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: homepage
            patch: |-
              - op: add
                path: /spec/template/spec/containers/0/env/-
                value:
                  name: HOMEPAGE_VAR_SONARR_API_KEY
                  valueFrom:
                    secretKeyRef:
                      name: sonarr
                      namespace: downloads
                      key: api_key
