# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: -1
  uninstall:
    keepHistory: false
  driftDetection:
    mode: warn
  values:
    defaultPodOptions:
      automountServiceAccountToken: true

    controllers:
      homepage:
        defaultContainerOptions:
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop: [ALL]

        pod:
          annotations:
            configmap.reloader.stakater.com/reload: &config homepage
            secret.reloader.stakater.com/reload: homepage-app-secrets

        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.6.0@sha256:9a6b8eae4bad9d80034affc50592d44195b6ca9c0f0777baf7fd283994531c62
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 164Mi
              limits:
                memory: 244Mi
            envFrom:
              - secretRef:
                  name: homepage-app-secrets
            env:
              HOMEPAGE_ALLOWED_HOSTS: "home.stevewm.dev"

        serviceAccount:
          identifier: homepage

    service:
      app:
        controller: homepage
        ports:
          http:
            port: 3000

    route:
      app:
        hostnames: ["home.stevewm.dev"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https

    persistence:
      logs:
        type: emptyDir
      config:
        enabled: true
        type: configMap
        name: *config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml

    serviceAccount:
      homepage: {}
