# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homelab-docs
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      homelab-docs:
        strategy: Recreate
        pod:
          labels:
            ingress.home.arpa/nginx-external: allow
            ingress.home.arpa/homepage: allow
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/stevewm/docs
              tag: 1.0.0@sha256:7885d9813b57f4b0556334dc9a7e23d41e928937da1f2a83da61eb6dc80ed71a
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 64Mi
            env:
              NGINX_HOST: &host ${APP_SUBDOMAIN}.${DOMAIN}
    service:
      app:
        controller: homelab-docs
        ports:
          http:
            port: 8080
    ingress:
      app:
        className: nginx-external
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
        annotations:
          gethomepage.dev/name: *app
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: dev
          gethomepage.dev/icon: mdi-text-box-outline
          external-dns.alpha.kubernetes.io/target: ext.${DOMAIN}
