---
site_name: Homelab Docs
docs_dir: ../../docs
repo_url: https://github.com/stevewm/homelab
repo_name: stevewm/homelab
theme:
  name: material
  logo: logo.png
  palette:
    scheme: slate
    primary: deep orange
    accent: orange
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
plugins:
  - include-markdown:
      encoding: ascii
      preserve_includer_indent: false
      dedent: false
      trailing_newlines: true
      comments: true
      rewrite_relative_urls: true
      heading_offset: 0
      start: <!--start-->
      end: <!--end-->
