# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./networkpolicy.yaml
  - ./cyberchef/ks.yaml
  - ./homepage/ks.yaml
  - ./stirling-pdf/ks.yaml
  - ./themepark/ks.yaml
