---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &name sonarr
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/onedr0p/sonarr-develop
      tag: 4.0.0.746@sha256:9bd35258643a6d008fc80f85060d5fd67f60d0ab455f11ed5597e5af6ea0c3a3
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
      supplementalGroups: [1001]
    env:
      SONARR__URL_BASE: &path /
      SONARR__PORT: &port 8989
      SONARR__API_KEY:
        valueFrom:
          secretKeyRef:
            name: sonarr
            key: api_key
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        hosts:
          - host: &host snr.cfg.sh
            paths:
              - path: *path
                pathType: Prefix
        tls:
          - hosts:
              - *host
        annotations:
          gethomepage.dev/name: *name
          gethomepage.dev/description: television
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: downloads
          gethomepage.dev/icon: sonarr.png
          # https://github.com/gethomepage/homepage/issues/1553
          gethomepage.dev/widget.key: '{{HOMEPAGE_VAR_SONARR_API_KEY}}'
          gethomepage.dev/widget.type: sonarr
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter
            '</head>'
            '<link rel="stylesheet" type="text/css" href="https://themes.cfg.sh/css/base/sonarr/plex.css">
            <link ref="stylesheet" type="text/css" href="https://themes.cfg.sh/css/addons/sonarr/sonarr-text-logo/sonarr-text-logo.css">
            </head>';
            sub_filter_once on;
    persistence:
      media:
        enabled: true
        type: nfs
        server: 192.168.1.234
        path: /volume1/Media
        mountPath: /data/media
      config:
        enabled: true
        mountPath: /config
        accessMode: ReadWriteOnce
        type: pvc
        size: 1Gi
        storageClass: longhorn
    resources:
      requests:
        cpu: 100m
        memory: 256M
      limits:
        memory: 1Gi
