# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 30m
  maxHistory: 3
  chartRef:
    kind: OCIRepository
    name: cert-manager
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: -1
  uninstall:
    keepHistory: false
  driftDetection:
    mode: warn
  values:
    crds:
      enabled: true
    enableCertificateOwnerRef: true

    deploymentAnnotations:
      reloader.stakater.com/auto: "true"

    prometheus:
      enabled: true
      servicemonitor:
        enabled: true

    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 92Mi
