---
apiVersion: v1
kind: Namespace
metadata:
  name: security
---
apiVersion: v1
kind: Secret
metadata:
  name: doppler-token
  namespace: security
stringData:
  token: {{ ENV.DOPPLER_API_TOKEN }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
