---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: app-longhorn
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/longhorn-system/longhorn/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
  wait: false
