---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      recyclarr:
        type: cronjob
        pod:
          labels:
            egress.home.arpa/kubedns: allow
            monitoring.home.arpa/prometheus: allow
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "@daily"
          ttlSecondsAfterFinished: 172800 # 48 hours
        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.1.1@sha256:3bc426b72453e76767a7f2144ebcea2870cdf1ecfef6886ee1115c88890f9091
            env:
              COMPlus_EnableDiagnostics: "0"
              RADARR_API_KEY:
                secretKeyRef:
                  name: radarr
                  key: api_key
              SONARR_API_KEY:
                secretKeyRef:
                  name: sonarr
                  key: api_key
            args: ["sync"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 10m
                memory: 37M
              limits:
                memory: 220M
    persistence:
      config-cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /config/cache
      config-file:
        type: configMap
        name: recyclarr
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yml
            readOnly: true
