# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: app-sonarr
  namespace: flux-system
spec:
  targetNamespace: downloads
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app sonarr
  interval: 10m
  path: ./kubernetes/apps/downloads/sonarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
  wait: true
  dependsOn:
    - name: app-sabnzbd
    - name: app-prowlarr
  postBuild:
    substitute:
      APP: *app
      APP_SUBDOMAIN: snr
      APP_UID: "1001"
      APP_GID: "100"
      VOLSYNC_CLAIM: sonarr-config
