# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core-k8tz
  namespace: flux-system
spec:
  targetNamespace: system
  commonMetadata:
    labels:
      app.kubernetes.io/name: k8tz
  interval: 10m
  path: ./kubernetes/main/core/system/k8tz/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
  wait: false
