# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ut2004
spec:
  interval: 30m
  maxHistory: 3
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: -1
  uninstall:
    keepHistory: false
  driftDetection:
    mode: warn
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        # runAsNonRoot: true
        # # runAsUser: 65534
        # # runAsGroup: 65534
        # # fsGroup: 65534
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      ut2004:
        replicas: 0
        defaultContainerOptions:
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop: [ALL]
        defaultContainerOptionsStrategy: merge

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: lacledeslan/gamesvr-ut2004
              tag: latest@sha256:1e72c66a8b96723d9f8ccba91a391e2c442dba6b917cb473b481e18814215a9e
            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
            #   startup:
            #     enabled: true
            env:
              MAP_NAME: "AS-BP2-Jumpship"
              GAME_TYPE: "Assault"
              PUID: 2000
              CD_KEY:
                valueFrom:
                  secretKeyRef:
                    name: ut2004
                    key: cd_key
            resources:
              requests:
                cpu: 50m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              readOnlyRootFilesystem: false

    service:
      app:
        type: LoadBalancer
        controller: *app
        annotations:
          "lbipam.cilium.io/ips": "10.0.0.68"
        ports:
          game:
            port: 7777
            protocol: UDP
          query:
            port: 7778
            protocol: UDP
          gamespy-query:
            port: 7787
            protocol: UDP
          # admin:
          #   port: 80

    persistence:
      data:
        existingClaim: ut2004-gamedata
      config:
        type: emptyDir
