# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: app-bazarr
  namespace: flux-system
spec:
  targetNamespace: downloads
  commonMetadata:
    labels:
      app.kubernetes.io/name: &app bazarr
  interval: 10m
  path: ./kubernetes//apps/downloads/bazarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab
  wait: true
  dependsOn:
    - name: app-sonarr
    - name: app-radarr
  postBuild:
    substitute:
      APP: *app
      APP_SUBDOMAIN: bzr
      APP_UID: "1001"
      APP_GID: "100"
      VOLSYNC_CLAIM: bazarr-config
