# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: web
resources:
  - ./archiveteam-warrior/ks.yaml
components:
  - ../../flux/components/namespace
  - ../../flux/components/networkpolicy/default-deny
patches:
  - patch: |
      - op: add
        path: /metadata/name
        value: web
    target:
      kind: Namespace
