# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./dns-endpoint.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./networkpolicy.yaml
configMapGenerator:
  - name: cloudflared-config
    files:
      - config/config.yaml
generatorOptions:
  disableNameSuffixHash: true
