# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  releaseName: volsync
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: volsync
      version: 0.10.0
      sourceRef:
        kind: HelmRepository
        name: backube
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    manageCRDs: true
    image: &image
      repository: ghcr.io/onedr0p/volsync
      tag: 0.11.0
    restic:
      <<: *image
    metrics:
      disableAuth: true
