---
name: "Docs: Publish to GitHub Pages"

on:
  push:
    branches:
      - "main"
    paths:
      - docs/**
      - .github/mkdocs/**
      - .github/workflows/docs-publish.yaml

permissions:
  contents: write
  pages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Generate Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOTTY_HILL_APP_ID }}"
          private-key: "${{ secrets.BOTTY_HILL_PRIVATE_KEY }}"

      - name: Publish Docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          CONFIG_FILE: .github/mkdocs/mkdocs.yaml
          REQUIREMENTS: requirements.txt
