# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: "PR: Labeler"
on:
  - pull_request_target

permissions:
  contents: read
  pull-requests: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        id: app-token
        with:
          app-id: "${{ secrets.BOTTY_HILL_APP_ID }}"
          private-key: "${{ secrets.BOTTY_HILL_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
        with:
          configuration-path: ".github/labeler.yaml"
          sync-labels: true
          repo-token: ${{ steps.app-token.outputs.token }}
