# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: "PR: Labeler"
on:
  - pull_request_target

permissions:
  contents: read
  pull-requests: write

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@0f859bf9e69e887678d5bbfbee594437cb440ffe # v2
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        id: app-token
        with:
          app-id: "${{ secrets.BOTTY_HILL_APP_ID }}"
          private-key: "${{ secrets.BOTTY_HILL_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9 # v5
        with:
          configuration-path: ".github/labeler.yaml"
          sync-labels: true
          repo-token: ${{ steps.app-token.outputs.token }}
