# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: "PR: Minecraft Mod Compatibility Check"

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - kubernetes/apps/games/minecraft/**
      - .github/workflows/pr-mc-mods.yaml

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  modrinth:
    runs-on: ubuntu-latest
    env:
      MC_HR: ${{ github.workspace }}/kubernetes/apps/games/minecraft/app/helmrelease.yaml
      # renovate: depName=itzg/mc-image-helper datasource=github-releases
      MC_IMAGE_HELPER_VERSION: "1.47.3"
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Extract MC_VERSION
        uses: mikefarah/yq@f03c9dc599c37bfcaf533427211d05e51e6fee64 # v4.47.1
        id: mc_version
        with:
          cmd: |
            yq -r '.spec.values.controllers.minecraft.containers.app.env.VERSION' $MC_HR

      - name: Extract MODRINTH_PROJECTS
        uses: mikefarah/yq@f03c9dc599c37bfcaf533427211d05e51e6fee64 # v4.47.1
        id: modrinth_projects
        with:
          cmd: |
            yq -r '.spec.values.controllers.minecraft.containers.app.env.MODRINTH_PROJECTS' $MC_HR

      - name: Extract MODRINTH_ALLOWED_VERSION_TYPE
        uses: mikefarah/yq@f03c9dc599c37bfcaf533427211d05e51e6fee64 # v4.47.1
        id: modrinth_allowed_version_type
        with:
          cmd: |
            yq -r '.spec.values.controllers.minecraft.containers.app.env.MODRINTH_DEFAULT_VERSION_TYPE' $MC_HR

      - name: Extract TYPE
        uses: mikefarah/yq@f03c9dc599c37bfcaf533427211d05e51e6fee64 # v4.47.1
        id: type
        with:
          cmd: |
            yq -r '.spec.values.controllers.minecraft.containers.app.env.TYPE' $MC_HR

      - name: Print extracted values
        run: |
          echo "MC_VERSION: ${{ steps.mc_version.outputs.result }}"
          echo "TYPE: ${{ steps.type.outputs.result }}"
          echo "MODRINTH_PROJECTS: ${{ steps.modrinth_projects.outputs.result }}"
          echo "MODRINTH_ALLOWED_VERSION_TYPE: ${{ steps.modrinth_allowed_version_type.outputs.result }}"

      - name: Install mc-image-helper
        run: |
          url="https://github.com/itzg/mc-image-helper/releases/download/${MC_IMAGE_HELPER_VERSION}/mc-image-helper-${MC_IMAGE_HELPER_VERSION}.tgz"

          curl -fsSL -o mc-image-helper.tgz "$url"
          tar xzf mc-image-helper.tgz -C "${{ github.workspace }}"
          rm mc-image-helper.tgz

      # https://github.com/itzg/docker-minecraft-server/blob/master/scripts/start-setupModpack
      - name: Check mod compatibility
        env:
          MODRINTH_PROJECTS: ${{ steps.modrinth_projects.outputs.result }}
          VERSION: ${{ steps.mc_version.outputs.result }}
          TYPE: ${{ steps.type.outputs.result }}
          MODRINTH_ALLOWED_VERSION_TYPE: ${{ steps.modrinth_allowed_version_type.outputs.result }}
          MODRINTH_DOWNLOAD_DEPENDENCIES: "none"
        run: |
          set -e
          if [[ $MODRINTH_PROJECTS ]]; then
            loader="${TYPE,,}"
            "${{ github.workspace }}/mc-image-helper-$MC_IMAGE_HELPER_VERSION/bin/mc-image-helper" modrinth \
              --output-directory="${{ runner.temp }}/mods" \
              --world-directory="${{ runner.temp }}/world" \
              --projects="${MODRINTH_PROJECTS}" \
              --game-version="${VERSION}" \
              --loader="$loader" \
              --download-dependencies="$MODRINTH_DOWNLOAD_DEPENDENCIES" \
              --allowed-version-type="$MODRINTH_ALLOWED_VERSION_TYPE"
          else
            echo "No MODRINTH_PROJECTS specified, skipping check."
          fi
