# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: "PR: Vintage Story Mod Compatibility Check"

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - kubernetes/apps/games/vintagestory/**

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  vsmod:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Check mod compatibility
        uses: docker://ghcr.io/stevewm/vsmod:v0.4.3
        with:
          args: download --file kubernetes/apps/games/vintagestory/app/config/init/mods.yaml --force-compatibility-check --debug --hooks=false
