# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app goldilocks
spec:
  releaseName: *app
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: goldilocks
      version: 10.3.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-stable
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: -1
  uninstall:
    keepHistory: false
  driftDetection:
    mode: warn
  values:
    vpa:
      enabled: false

    dashboard:
      flags:
        enable-cost: "false"

      ingress:
        enabled: false # Use HTTPRoute instead
