# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vintagestory
spec:
  interval: 30m
  maxHistory: 3
  chart:
    spec:
      chart: app-template
      version: 3.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 80
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - minecraft
                topologyKey: "kubernetes.io/hostname"
    controllers:
      vintagestory:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          labels:
            ingress.home.arpa/playit: allow
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/stevewm/vintagestory
              tag: 1.19.8@sha256:2b3e6eb684b8af322120f6fa7bd0183e66a10aa93d81c7e87fbdd8f3b682301e
            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
            #   startup:
            #     enabled: true
            resources:
              requests:
                cpu: 250m
                memory: 3Gi
              limits:
                memory: 6Gi
                cpu: 2
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: [ALL]

    service:
      app:
        type: LoadBalancer
        controller: vintagestory
        clusterIP: 10.96.0.35 # FIXME: Remove if/when playit.gg support hostname endpoints
        ports:
          game:
            port: 2420
            targetPort: 42420

    persistence:
      gamedata:
        existingClaim: vintagestory-gamedata
      config:
        type: configMap
        name: vintagestory
        globalMounts:
          - path: /data/serverconfig.json
            subPath: serverconfig.json
            readOnly: true
